@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Play);
@import url(http://fonts.googleapis.com/css?family=Monoton);

/*    Reset CSS  */ /*중요 : */
* { margin:0;  padding:0; }
ol,ul { list-style: none; }
a { outline:0; text-decoration:none; color:#bbb;}
img { border:0;}
body { position:fixed;  width:100%; height:100%; background:lightblue;}


/* 배경동영상 */
.vid { width:100%; height:100%; position:fixed; right:0px; left:330px; opacity:0.9; }
.vid video { width:100%; height:100%; max-width:1000px; object-fit: cover;}

/*로고*/
h1 { position:fixed; top: 50px; left:10px; z-index:20;} /*-index 바닥에서부터 10까지*/
h1 img { width:300px; height:auto;}
header { width:800px; height:100%; position:fixed; top:0px; left:-460px; background:linear-gradient(#b4d4ff, #e9ebff, #a2ceff);  }

/* 1depth*//*메뉴*/
#gnb { 	width: 200px; position:absolute; top:150px; right:120px; }
#gnb>li {position:relative;}
#gnb>li>a { display:block; width:160px; height:50px; left:20px; font:bold 18px/3 play; 
	/*글꼴 플레이*/
	color:#222; box-sizing:border-box; padding-left:20px; text-align:left;}
#gnb>li>a { color:black;}
#gnb>li:hover>a { background:#111; color:#fff;}
#gnb em { display:inline-block;}
#gnb em i { margin-right:10px;}

/* 2depth */
#gnb ul { position:absolute; left:-40px;  top:0px; opacity:0; transition:all 0.4s;}
#gnb>li:hover ul { opacity:0.8; left:160px; }
#gnb ul a { display:block; width:150px; height:40px; background:#222; border-bottom:1px solid #7495ff; font:bold 16px/2.5 arial; color:#fff; box-sizing:border-box; padding-left:20px; margin-bottom:3px; transition:all 0.5s; }
#gnb ul a:hover { background:#7495ff; color:#333; }
#gnb>li.on ul { opacity:0.8; left:205px; top:-10px; }
#gnb li.on ul a { background:#444; opacity:0.7; } 


/* 텍스트 박스 */
.txtBox { width:340px; height:280px; position:fixed; bottom:-10px; right:350px; }
.txt { position:absolute; top:200px; right:0px; font:bold 34px arial; color:#464646; letter-spacing:-2px;}
.txt b { font:bold 34px arial; color:#a2ceff; 	margin-left:20px;}


/* contents 레이아웃 */
#side { width:500px; height:100%; position:fixed; bottom:0px; right:-500px; background:#b4d4ff; opacity:0.5; transform:skewX(-45deg); transition:all 0.5s;}
#side:hover { right:-200px; opacity:0.8;}
#side .con { width:100px; height:100%; position:absolute; left:150px; bottom:0px; background:#b4d4ff 	box-sizing:border-box; padding:10px; transition:all  1s;}
#side:hover .con { left:50px;}

/* contents내 썸네일 */
#side .con p { width: 200px; height:100px; position:absolute; left:50px;}
#side .con p em { display:inline-block; font:bold 18px/1.7 arial; color:#464646; transform:skewX(40deg);}
#side .con p img { width:180px; height:80px; opacity:0.3; transition:all 0.5s;}
#side .con p img:hover { opacity:1;}
#side .con p:nth-child(1) { bottom:270px; transform: translateX(200px); transition:all  0.4s;}
#side .con p:nth-child(2) { bottom:160px; transform: translateX(200px); transition:all  0.8s;}
#side .con p:nth-child(3) { bottom:50px; transform: translateX(200px); transition:all  1.2s;}
#side:hover .con p { transform:translateX(0px);}	

/* 자동롤링 버튼*/
#side .btnContents { width:150px; height:50px; position:absolute;  bottom:40px; left:100px; color:#7495ff;	transform:skewX(40deg); }
#side:hover .btnContents { left:700px;}	
.btnContents i { font-size:60px; position:absolute; bottom:0px; right:0px; opacity:1;}
.btnContents i:nth-child(1) { animation:ani linear 1.5s 0s infinite;}
.btnContents i:nth-child(2) { animation:ani linear 1.5s 0.5s infinite;}
.btnContents i:nth-child(3) { animation:ani linear 1.5s 1.0s infinite;} 
/*infinite : 애니메이션 무한반복*/

@keyframes ani {
	0% { right:0px; transform:sclae(1); opacity:1;}
	100% { right:100px; transform:scale(1.5); opacity:0;}
}









